@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Acme Accounting Systems</h1>
    <p>Remember, we're "accounting" on you!</p>
</div>
